body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.employeeInfo{
    text-align: left
}
.footer{
    text-align: center;
    background-color: #FF756D;
    height: 100px;
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header{
    text-align: center;
    background-color: #2A7F99;
    height: 100px;
    vertical-align: middle;
}

th {
    border: 1px solid black;
    text-align: center;
}

tr, td{
    border: 1px solid black;
}


a[href^="mailto:"]{ 
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
  }